html {
  background: rgb(55, 55, 55);
  color: rgb(209, 209, 209);
  border: none;
}
.coins-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.coin-card {
  padding: 5px;
  margin: 10px;
  border: 2px solid gray;
  border-radius: 6px;
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  margin: 0;
}
